<div class="flex h-screen">
  <!-- Div Sidebar -->
  <div
    *ngIf="sidebarService.isSidebarVisible$ | async"
    class="flex flex-col justify-between h-full w-72 p-6 text-white shadow-md bg-slate-900"
  >
    <div>
      <div class="flex items-center mb-6">
        <div
          class="bg-green-600 text-white px-3 py-3 rounded-md w-full text-center"
        >
          <h1 class="text-2xl font-bold">Gimnasio K'umara</h1>
        </div>
      </div>
      <ul class="space-y-2">
        <li class="border-b border-green-500 p-1">
          <a
            class="block px-4 py-1 rounded-md transition-colors duration-300 hover:bg-green-500 hover:text-white focus:outline-none focus:bg-green-500 focus:text-white focus:ring focus:ring-green-300"
            [routerLink]="['/app/home']"
            routerLinkActive="border-l-2 border-r-2 border-green-500"
            >Inicio</a
          >
        </li>
        <li class="border-b border-green-500 p-1">
          <a
            class="block px-4 py-1 rounded-md transition-colors duration-300 hover:bg-green-500 hover:text-white focus:outline-none focus:bg-green-500 focus:text-white focus:ring focus:ring-green-300"
            [routerLink]="['/app/perfil']"
            routerLinkActive="border-l-2 border-r-2 border-green-500"
            >Perfil</a
          >
        </li>
        <li class="border-b border-green-500 p-1" *ngIf="menu==='Empleado' || menu ==='Administrador'">
          <a
            class="block px-4 py-1 rounded-md transition-colors duration-300 hover:bg-green-500 hover:text-white focus:outline-none focus:bg-green-500 focus:text-white focus:ring focus:ring-green-300"
            [routerLink]="['/app/usuarios']"
            routerLinkActive="border-l-2 border-r-2 border-green-500"
            >Usuarios</a
          >
        </li>
        <li class="border-b border-green-500 p-1" *ngIf="menu==='Empleado' || menu ==='Administrador'">
          <a
            class="block px-4 py-1 rounded-md transition-colors duration-300 hover:bg-green-500 hover:text-white focus:outline-none focus:bg-green-500 focus:text-white focus:ring focus:ring-green-300"
            [routerLink]="['/app/noticias']"
            routerLinkActive="border-l-2 border-r-2 border-green-500"
            >Noticias</a
          >
        </li>
        <li class="border-b border-green-500 p-1" *ngIf="menu==='Cliente'">
          <a
            class="block px-4 py-1 rounded-md transition-colors duration-300 hover:bg-green-500 hover:text-white focus:outline-none focus:bg-green-500 focus:text-white focus:ring focus:ring-green-300"
            [routerLink]="['/app/rutinas']"
            routerLinkActive="border-l-2 border-r-2 border-green-500"
            >Rutinas</a
          >
        </li>
        <li class="border-b border-green-500 p-1" *ngIf="menu==='Empleado' || menu ==='Administrador'">
          <a
            class="block px-4 py-1 rounded-md transition-colors duration-300 hover:bg-green-500 hover:text-white focus:outline-none focus:bg-green-500 focus:text-white focus:ring focus:ring-green-300"
            [routerLink]="['/app/pagolist']"
            routerLinkActive="border-l-2 border-r-2 border-green-500"
            >Pagos</a
          >
        </li>
        <li class="border-b border-green-500 p-1" *ngIf="menu==='Empleado' || menu ==='Administrador'">
          <a
            class="block px-4 py-1 rounded-md transition-colors duration-300 hover:bg-green-500 hover:text-white focus:outline-none focus:bg-green-500 focus:text-white focus:ring focus:ring-green-300"
            [routerLink]="['/app/servicios']"
            routerLinkActive="border-l-2 border-r-2 border-green-500"
            >Servicios</a
          >
        </li>
      </ul>
    </div>

    <!-- Botón de Cerrar Sesión -->
    <button
      class="bg-green-500 text-white px-4 py-2 rounded-md transition-colors duration-300 hover:bg-green-600"
      (click)="logout()"
    >
      Cerrar Sesión
    </button>
  </div>
  <!-- Contenido Principal -->
  <div class="flex flex-col h-screen w-full">
    <!-- Header -->
    <div class="bg-gray-300 flex items-center justify-between p-1">
      <!-- Contenido del header si es necesario -->

      <!-- Botón de Menú -->
      <button
        mat-icon-button
        (click)="toggleSidebar()"
        class="rounded-full flex items-center justify-center"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <!-- Main Content -->
    <main class="flex-1 p-1 bg-gray-200 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>

    <div class="flex items-center justify-center bg-gray-300 h-10 text-lg">
      Versión 2.1
    </div>
  </div>
</div>
