<div class="flex-1 p-2 bg-gray-200 overflow-y-auto">
  <div class="container mx-auto shadow-md p-4 bg-white rounded-md">
    <div class="my-0 mx-0 w-full h-full">
      <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-6 px-6 md:px-8 border-b"
      >
        <div class="text-4xl font-extrabold tracking-tight">Pagos</div>
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
          <mat-form-field
            class="fuse-mat-dense min-w-40"
            [subscriptSizing]="'dynamic'"
          >
            <mat-icon class="icon-size-5" matPrefix> search </mat-icon>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Buscar"
              #input
            />
          </mat-form-field>
          <button
            class="flex items-center bg-green-500 text-white p-2 px-3 rounded-md ml-8 transition-colors duration-300 hover:bg-green-600"
            (click)="onDetail(null)"
          >
            <mat-icon>add</mat-icon>
            <span class="text-sm">Nuevo</span>
          </button>
        </div>
      </div>

      <div class="mat-elevation-z0 overflow-x-auto">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          (matSortChange)="sortData($event)"
        >
          <ng-container matColumnDef="nombre_servicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Servicio</th>
            <td mat-cell *matCellDef="let row" class="text-center">
              {{ row.nombre_servicio }}
            </td>
          </ng-container>
          <ng-container matColumnDef="correo_usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Correo Usuario
            </th>
            <td mat-cell *matCellDef="let row" class="text-center">
              {{ row.correo_usuario }}
            </td>
          </ng-container>
          <ng-container matColumnDef="monto_pagado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Monto Cancelado
            </th>
            <td mat-cell *matCellDef="let row" class="text-center">
              {{ row.monto_pagado }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Fecha Registro
            </th>
            <td mat-cell *matCellDef="let row" class="text-center">
              {{ row.fecha }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fecha_inicio_sus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Fecha Inicio
            </th>
            <td mat-cell *matCellDef="let row" class="text-center">
              {{ row.fecha_inicio_sus | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fecha_fin_sus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Fin</th>
            <td mat-cell *matCellDef="let row" class="text-center">
              {{ row.fecha_fin_sus | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Editar</th>
            <td mat-cell *matCellDef="let row">
              <div class="flex">
                <button
                  mat-icon-button
                  aria-label="Modificar"
                  (click)="onDetail(row)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              ::: No se encontraron registros :::
            </td>
          </tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[10, 20, 50]"
          aria-label="Seleccionar página"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
